extends layout

block content

    div#mission.section
      div.container.text-center
        h2.ttle_h2
          | Connect With Us
          --//= records.config.mission[0].mission_heading
        h4.ttle_h4_sub
          = records.config.mission[0].mission_subheading
        div.row.miss_serv
          each icon in records.config.mission_icons
            div.col-md-4.col-sm-4.col-xs-6.gveback
              figure
                img(src= icon.mission_image)
              p.det_btm
                = icon.mission_image_text

        div.row.miss_det_btm
          div.col-md-6.col-sm-6.col-xs-12.det_left_missn
            p.text-center
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          div.col-md-6.col-sm-6.col-xs-12.det_right_missn
            p.text-center
              | I am really keen to set up a shared-space working environment so one-man bands (sole entrepreneurs as I am frequently reminded) like me can have a place to work away from the kitchen table and meet other like-minded people who want to be out there - be able to say - "I'll meet you at my office" and be able to afford it without all the worry and stress of having to pay huge amounts of money and tied into a death-sentence lease.
          div.col-md-12.col-sm-12.col-xs-12.det_center_missn
            p.text-center
              | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
            p.brkr-img
              img(src="../img/fiona/mission-border-small.png")


    div#bioinfo.section
        .container-fluid
          .row
            .col-md-8.col-sm-8.col-xs-12.leftbio
              h3.titlesevces Better than the best
              p.subbio See Details Below.
              h4.headbio Build static websites with an easy-to-use framework
                span.biospan Lorem
                | people world-wide to use their most valuable free gift, their voice to live the life they dream of.
              div.biodet
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg1.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      span Lorem
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg2.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      span Lorem
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg3.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg4.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg5.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg6.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                .row
                  .col-md-2.bioleft-thumb
                    img(src="/img/fiona/bio/bioimg7.png")
                  .col-md-10.bioright-det
                    p.detbiofull
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                      br
                      |  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.


            .col-md-4.col-sm-4.col-xs-12.rightbioimg
                  img(src="../img/fiona/bio-image-right.jpg")

    div#gallery.section
      div.container.text-center
        h1.title-header Socialize With Us
        h5.sub Lorem Ipsum is simply dummy text of the printing
          br
          | Lorem Ipsum
        div.row.gallry-list
          div.col-md-4.col-sm-6.col-xs-12
            a.example-image-link(href='../img/fiona/gallery/larger-img-1.jpg', data-lightbox='example-set', data-title='Lorem Ipsum')
              img.example-image(src="../img/fiona/gallery/dummy-img-1.jpg")
          div.col-md-4.col-sm-6.col-xs-12
            a.example-image-link(href='../img/fiona/gallery/larger-img-2.jpg', data-lightbox='example-set', data-title='Lorem Ipsum')
              img.example-image(src="../img/fiona/gallery/dummy-img-2.jpg")
          div.col-md-4.col-sm-6.col-xs-12
            a.example-image-link(href='../img/fiona/gallery/larger-img-3.jpg', data-lightbox='example-set', data-title='Lorem Ipsum')
              img.example-image(src="../img/fiona/gallery/dummy-img-3.jpg")
          div.col-md-4.col-sm-6.col-xs-12
             a.example-image-link(href='../img/fiona/gallery/larger-img-4.jpg', data-lightbox='example-set', data-title='Lorem Ipsum')
              img.example-image(src="../img/fiona/gallery/dummy-img-4.jpg")
          div.col-md-4.col-sm-6.col-xs-12
             a.example-image-link(href='../img/fiona/gallery/larger-img-5.jpg', data-lightbox='example-set', data-title='Lorem Ipsum')
              img.example-image(src="../img/fiona/gallery/dummy-img-5.jpg")
          div.col-md-4.col-sm-6.col-xs-12
             a.example-image-link(href='../img/fiona/gallery/larger-img-6.jpg', data-lightbox='example-set', data-title='Lorem Ipsum')
              img.example-image(src="../img/fiona/gallery/dummy-img-6.jpg")

    div#startjourney
      div.container.text-center
        h2.ttle_start
          | What’s more, they’re absolutely free! You can do
          br
          | a lot with them. You can modify them.

    div#blogsec.section
      div.container.text-center
        h1.title-header Be the best version
        h3.sub of yourself
        .container.news-item.text-left
          each blogss in blog.orderBy('date', 'desc').slice(0, 3)
            .row
              .news-items
                div.col-md-6.col-sm-12.col-xs-12.blog-leftimg
                  div.lead-sec
                    .lead-image
                      img.img-responsive(src=blogss.mainimage)
                    h5.lead-tag= blogss.leadtag
                div.col-md-6.col-sm-12.col-xs-12.blog-rightdet
                  div.blog-det
                    h3.blog-title
                      a(href=blogss.permalink)= blogss.title
                    .published
                      != "<i class='fa fa-bookmark-o'></i><b>" + blogss.author + "</b> | <i class='fa fa-clock-o'></i> Created on <b> " + dateFormat(blogss.date, 'LL') + "</b>"
                    .short-desc
                      p= blogss.shortdesc
                      p.read-more
                        a(href=blogss.permalink)
                          | Read More
                          i.fa.fa-long-arrow-right(aria-hidden='true')


        div#more-blog.section
          div.morelink
            a.listmore.hvr-ripple-out(href="/blog-list.html")
              | Lorem Ipsum